<div id="wpadminbar">
    <ul class="ab-top-menu">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>